#graphicProgramming {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.graphicLabs, #introductoryLabs {
  display: flex;
  flex: 1;
  flex-direction: row;
}

#introductoryLabs {
  justify-content: center;
  align-content: center;
  transition: transform .2s;
}

#introductoryLabs a {
  border-radius: 30px;
  border: 2px solid royalblue;
  color: white;
  background-color: darkblue;  
  padding: 1%;
  margin: 2%;
}

#introductoryLabs a:hover {
  transform: scale(1.1);
}

.labImage {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

img {
  width: 100%;
  height: 100%;
  transition: transform .2s;
}

img:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0%;
  font-size: 50px;
  text-align: center;
}


p {
  text-indent: 60px;
  font-size: 30px;
}

a {
  padding: 0%;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
  
body {  
  text-align: center;
  background-color: azure;
}
